@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p><b>“Click it to Book it”</b> is online system that helps users in checking and booking the tickets for movie shows and events in the region. It helps users to view upcoming movies, events and can also do a pre book if a certain event or movie has a demand. On the other side event organizers can also login and schedule events, they can choose update the event details such as date, time, available seats and location it is conducted, but they have to initially submit the request to site admin. Site administrators work on the approval of requests from event organizers and users, modification of movie details, adding and removing theatre’s and changes in event details, they work refunding money to cancelled tickets within the time frame permitted by the system.</p>
